.card{
    width: 300px;
    height: 400px;
    max-width: 900px;
    min-width: 768px;
    z-index: 0;
}
.card-body{
    background-color: #96b3ee;
    z-index: 10;
    border-radius: 25px;
}

img{
    height: 250px;
    width: 250px;
    max-width: 30%;
    min-width: 20%;
}
.button{
    margin-top: auto;
}
