body{
  margin: 0px;
  padding: 0px;
  width :100vw;
  height:100vh;
  background-color: #e0e7eb !important;
  display: flex;
  justify-content: center;
}
.bg-fondo-principal{
  background-color: #e0e7eb !important;
}
.bg-fondo-secundario{
  background-color: #96b3ee!important;
}
.style-form-login{
  border: 0.9px solid #24758e !important;
  border-radius: 1% !important;
}
.style-contenedorForm{
  padding-top: 10px !important;
  margin-top: 10px !important;
}