.containerPP{
    margin-bottom: 50px;
    min-width: 50%;
    max-width: 50%;
    background-color: #E0E7EC
    
    
}
.cardPP{
    
    margin-top: 10px;
    width: 100%;
    height: 100%;

}
.bodyPP{
    width: 100vw;
    height: 100vh;
   
    margin-bottom: 3rem;
    padding: 1px;
    position: relative;
  
}

.mainPP{
    height: 1500px;
}

@media(max-width: 900px)
{.cardPP{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

}
.buttonCreate{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

}