

.h1Container{
    justify-content: center;
    align-items: center;
    max-width: 900px;
    min-width: 400px;
    height: 100vh;
    width: 100vw;
}
/* .rowSelected{
    background-color: rgb(237, 237, 237);
    }
    tr:hover{
    cursor: pointer;
    }

body{
    height: 100vh;
    box-sizing: border-box;
}

.styleStudentPage{
    padding-bottom: 250px !important;
    margin-bottom: 250px !important;
}
.styleContainer{
    margin-bottom:  400px;
    
}
